services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    env_file: ./backend/.env
    environment:
      NODE_ENV: production
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build: 
      context: ./frontend
      args:
        VITE_API_URL: http://localhost:5000/api
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge